@font-face {
    font-family: 'Inter', 'Lexend Deca' ;
    font-display: swap;
    font-weight: 100 700;
    src: url('https: //fonts.google.com/specimen/Inter'),('https: //fonts.google.com/specimen/Lexend+Deca');
}
:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue : hsl(244, 38%, 16%);
    --Soft-violet : hsl(277, 64%, 61%);

    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white1 : hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white : hsla(0, 0%, 100%, 0.6);

}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    font-size: 15px;
    font-family: 'Inter', 'Lexend-Deca';
    font-weight: normal ;
}
img, svg {
    display: block;
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-dark-blue);
    min-height: 100vh;
    min-width: 100vw;
}
.card {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    background-color: var(--Dark-desaturated-blue);
    border-radius: .5em .5em;
}
.left-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 2rem;
    /* text-align: justify; */
    margin: 2rem;
}
.left-stats{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.left-stats h2{
    color: var(--White);
    font-weight: 600;
}
.left-stats span {
    color: var(--Slightly-transparent-white);
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.title {
    color: var(--White);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.title span{
    color: var(--Soft-violet);
}
.description {
    color: var(--Slightly-transparent-white1);
    line-height: 1.5;
    margin-bottom: 3.5rem;
    font-size: .9rem;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img {
    position: relative;
}
.card-img::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--Soft-violet);
    opacity: .6;
    /* background-color: hsla(277, 64%, 61%, 0.6); */
}

